/*
font-family: 'Cardo', serif;
font-family: 'Italianno', cursive;

font-family: 'Grandstander', cursive;

font-family: 'Lobster Two', cursive;
font-family: 'Sansita Swashed', cursive;
font-family: 'Dancing Script', cursive;

*/

body {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    background-color: white;
    line-height: unset;
    overflow-x: hidden;
    margin: 0;
    min-width: 290px;
}

.font-link {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.font-link-2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.color-primaire {
    color: black;
}

.color-secondaire {
    color: #CCA956;
}

.color-3 {
    color: #786b62;
}


/*--------- BOUTON -----------*/
.form-group .btn-primaire {
    color: white;
    background-color: #CCA956;
    border-color: #CCA956;
}
.form-group .btn-primaire:hover {
    color: white;
    background-color: #000000;
    border-color: #000000;
}

.form-group .btn-secondaire {
    color: white;
    background-color: #000000;
    border-color: #000000;
}
/*
#500B1F99
#c4aa84
#f3edd3
  */
  .card {
    border: 2px solid #CCA956 ;
    border-radius: 0.5rem;
}



.card-header {
    border-bottom: 1px solid #CCA956 ;
}

#frise {
    object-fit: cover;
}

#flip {
    height: 100%;
    min-height: 217px;
}

#shape {
    height: 13px;
}

.navbar {
    background-color: white;

}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
    color: #786b62;
}

.Banniere {
    line-height: unset;
}

section {
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(
            rgba(196, 170, 132, 0.40),
            rgba(196, 170, 132,0.60)
    ),url("/assets/img/photo_accueil.jpg");
    /*background-image: url("/assets/img/Page_accueil_5.png");*/
}

li a {
    color: white;
}
li a:hover {
    color: black;
}

.fade {
    transition:  1s;
}

Footer  {
    background-color: white;
    /*border-top: 2px solid #CCA956;*/
}

div p {
    white-space: pre-wrap;
}


