/*
font-family: 'Cardo', serif;
font-family: 'Italianno', cursive;

font-family: 'Grandstander', cursive;

font-family: 'Lobster Two', cursive;
font-family: 'Sansita Swashed', cursive;
font-family: 'Dancing Script', cursive;

*/

body {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    background-color: #e3e2e2;
    line-height: unset;
    overflow-x: hidden;
    margin: 0;
}

.font-link {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.font-link-2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.color-primaire {
    color: #d2d2d2;
}

.color-secondaire {
    color: #d2d2d2;
}
/*--------- BOUTON -----------*/
.form-group .btn-primaire {
    color: white;
    background-color: #500B1F99;
    border-color: #500B1F99;
}
.form-group .btn-primaire:hover {
    color: white;
    background-color: #000000;
    border-color: #000000;
}

.form-group .btn-secondaire {
    color: white;
    background-color: #000000;
    border-color: #000000;
}

.card {
    border: 2px solid #500B1F99;
    border-radius: 0.5rem;
}

.card-header {
    border-bottom: 1px solid #500B1F99;
}





#shape {
    height: 13px;
}

.navbar {
    background-color: #500B1F99;

}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

.navbar a:active {
    color: black;
}

.Banniere {
    line-height: unset;
}

section {
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(
            rgba(80, 11, 31, 0.40),
            rgba(80,11,31,0.60)
    ),url("/assets/img/photo_accueil.jpg");

}

li a {
    color: white;
}
li a:hover {
    color: black;
}

.fade {
    transition:  1s;
}

Footer  {
    background-color: #500B1F99;

}




